@font-face { font-family: Aldo; src: url('./aldo.ttf'); } 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Aldo, sans-serif;
}

header {
    padding: 20px;
}

.icon {
    width: 25px;
    padding-right: 5px;
}

.logo {
    width: 40px;
}

.nav-head{
    font-size: 1rem;
    font-family: Varela Round, sans-serif;
    font-weight: 600;
}

.main-head{
    font-size: 3.5rem;
    font-family: Varela Round, sans-serif;
    font-weight: 700;
}

.main-sub-head{
    font-size: 1.2rem;
    font-family: Varela Round, sans-serif;
    font-weight: 500;
}

.direction-btn{
    margin-top: 1rem;
}

.hr{
    margin-top: 3rem;
    width: 4.5rem;
    height: 0.3rem;
    background-color: #000;
}

.direction-head {
font-weight: 700;
font-size: 1.5rem;
font-family: Varela Round, sans-serif;
}

.map{
width:75vw;
height:80vh
}

/* .info-head{
    font-weight: 400;
font-size: 1.5rem;
font-family: Varela Round, sans-serif;
} */